/orig/*
/save*/*
/__pycache__
/adif.old
/NetworkMessage.hpp
/clone
/dont_bother.txt
/#*#
/.project
/DIFFS
/dist/bandmap.exe
/dist/bandmap_setup.exe
/all_spots.dat
/spot_processing.log
/build/bandmap/*
/dist/bandmap
/BANDMAP
/bandmap.spec
/dist_1.0/bandmap
/dist_1.0/bandmap.exe
/dist_1.0/bandmap_setup.exe
/OLD/*
/JUNK/*
/work/__pycache__/*
/work/save*
/work*/__pycache__/*
/work/*
